{% extends 'SwApplicationBundle::layout.html.twig' %}

{% block content %}
	{{ form_start(swpForm) }}
	<div class="form-group">
		{{ form_label(swpForm.name) }}
		{{ form_widget(swpForm.name, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group">
		{{ form_label(swpForm.address) }}
		{{ form_widget(swpForm.address, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group">
		{{ form_label(swpForm.zipCode) }}
		{{ form_widget(swpForm.zipCode, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group">
		{{ form_label(swpForm.lat) }}
		{{ form_widget(swpForm.lat, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group">
		{{ form_label(swpForm.lon) }}
		{{ form_widget(swpForm.lon, {'attr': {'class': 'form-control'}}) }}
	</div>
	<input type="submit" value="Valider" class="btn btn-success" />
	{{ form_end(swpForm) }}
{% endblock %}


{% block javascripts %}
<script>
$( document ).ready(function() {

    $("form").submit(function (e) {
        e.preventDefault();

        var $form = $(this);

		$.post( "{{ path('sw_application_swimmingpools_add') }}", $form.serialize(), function( data ) {
		  $form.after('<br /><br /><div class="alert alert-success"><p class="text-center">Piscine sauvegardée !</p></div>');
		  $form[0].reset();
		})
		.fail(function(jqXHR, textStatus, errorThrown) {
			$form.after('<br /><br /><div class="alert alert-danger"><p class="text-center">Une erreur est survenue ! ' + jqXHR.responseText + '</p></div>');
		});

		$(".alert").delay(2000).fadeOut("slow", function() {
            $(this).remove();
        });

    });

});
</script>

{% endblock %}
